@tailwind base;
@tailwind components;
@tailwind utilities;

* {

  padding: 0;

}

:root {
  --blue: #002756;
  --mavi: #03A0E2;
  --blue2: #003CA5;
  --footer: #002755;
  --blue41: #011E41;
}

.transition_css {
  transition: all .3s linear;
}

.transition_css1 {
  transition: all .3s ease-in-out;
}

@layer base {
  @font-face {
    font-family: 'Lota-Bold';
    font-style: bold;
    font-weight: 800;
    font-display: swap;
    src: url("../public/fonts/Lota-Bold.woff2") format('woff2');
  }

  @font-face {
    font-family: 'Lota-Regular';
    font-style: regular;
    font-weight: 300;
    font-display: swap;
    src: url("../public/fonts/Lota-Regular.woff2") format('woff2');
  }

}

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Lota-Regular", Arial, sans-serif;
  background: #fff;
}

.mobile-menu-overlay {
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
  background-color: #191919bf;
}

.mobile-menu-overlay.active {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.services_item:hover .read_more {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(116deg) brightness(102%) contrast(101%);
}

.box-css {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hidden_search {
  opacity: 0;
  visibility: hidden;
}

.show_search {
  opacity: 1;
  visibility: visible;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #002755;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #003CA5;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #003CA5;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #002755;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

.list_ul>ul {
  list-style-type: disc;
  padding-left: 20px;
}

.shaodo11 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}